.appContainer {
  display: flex;
  flex-direction: column;
  width: 786px;
  border: 2px solid #b1fcfc;
  border-radius: 12px;
  /* background-color: #ffdee9; */
  background-image: linear-gradient(
    180deg,
    rgba(255, 235, 180, 1) 0%,
    rgba(188, 255, 163, 1) 100%
  );

  padding: 16px;
  margin: 0 auto;
}
